.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.7;
}

.scroll-to-top:hover {
  opacity: 1;
}
