
<nav class="navbar navbar-expand-sm navbar-ligh bg-ligh">
  <div class="container-fluid">
        <img  *ngIf="(accountService.currentUser$ |async) as user" [src]="user.avatar" alt="Avatar Logo" style="width:40px;" class="rounded-pill me-3">
        <div class="dropdown dropend" *ngIf="(accountService.currentUser$ |async) as user">
          <strong  style="cursor: pointer;" class="dropdown-toggle" (click)="dropMenu()" data-bs-toggle="dropdown">
            Bienvenido {{user.username}}
          </strong>
          <ul class="dropdown-menu" *ngIf="status">
            <li style="cursor: pointer;">
              <i  (click)="accountService.logout()" class="fa fa-sign-out ms-3">cerrar</i>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav col-11">
        <li class="nav-item ms-auto me-auto">
          <a class="nav-link fw-bold" [routerLink]="['/shop']">Comprar</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link fw-bold" href="javascript:void(0)"><img src="/assets/img/eco-removebg-preview.png" alt="Avatar Logo"  class="rounded-pill img-logo"></a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link fw-bold" href="javascript:void(0)">Conoce más</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <img src="/assets/img/carrito.png"
        alt="logo"
        class="logo"
        style="max-height: 3pc;"
        [routerLink]="['/']"
        routerLinkActive="active" />
      </div>
      <a  *ngIf="(accountService.currentUser$ |async) == null" routerLink="/account/login" class="">
        <button class="btn btn-success ms-4" type="button">Iniciar</button>
      </a>
    </div>
  </div>
</nav>




