nav{
  .container-fluid{
    padding: 0px 2% 0% 4%;
  }
  ul{
    display: flex;
    align-items: center;
  }
  li.cards{
    display: ruby;
  }
}
.stile-container {
  background-image: url('/assets/img/footer-transformed.jpeg'); /* Asegúrate de tener una imagen similar */
  background-size: cover;
  background-position: center;
  height: 40pc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.color-white{
  color: white !important;
}
.img-logo{
  width: 177px;
  z-index: 10;
  position: absolute;
  top: -13%;
  margin-left: -50px;
}
.carts-comp{
  position: relative;
  display: inline-block;
  .badge-cart {
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 2;
    -webkit-box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.75);
  }
  .logo {
    display: block;
    max-height: 3pc;
    width: auto;
    position: relative;
  }
  @media (max-width: 768px) {
    .carts-comp {
        text-align: center;
    }
}
}
.shop-list{
  flex-direction: column;
  max-height: 15pc;
  overflow-y: auto;
  background: white; /* Fondo blanco para mayor legibilidad */
  border: 1px solid #ccc;
  .badge {
    -webkit-box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.75);
    margin-left: 10px;
  }
  .item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .item-name {
    margin-left: 10px;
    flex-grow: 1; /* Permite que el nombre del artículo tome el espacio necesario */
  }

  .item-price {
      margin-left: 10px; /* Espacio entre el nombre y el precio */
  }
  .delete{
    margin-left: 10px;
  }
  .remove{
    margin-left: 10px;
  }
}

