<nav class="p-3 text-bg-light">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img src="/assets/img/eco-removebg-preview.png" style="cursor: pointer;" routerLink="" alt="Avatar Logo" width="10%" class="rounded-pill ">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="text-dark nav-link fw-bold" [routerLink]="['/shop']">Comprar</a></li>
        <li><a class="text-dark nav-link fw-bold" href="javascript:void(0)">Conoce más</a></li>
        <li>
        <a class="text-dark nav-link fw-bold" *ngIf="(accountService.currentUser$ | async)?.id === '1'"  routerLink="/account/login" >
          Crear Productos
        </a>
        </li>
      </ul>

      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 carts-comp" role="search" style="cursor: pointer;">
        <span [class]="cart?.length > 0 ?'badge badge-cart bg-success rounded-circle' : 'badge badge-cart bg-danger rounded-circle'"> {{cart?.length}}</span>
        <img  src="/assets/img/carrito.png" (click)="dropShop()"
        alt="logo"
        class="logo"
        style="max-height: 3pc;"
        />
        <ul class="dropdown-menu shop-list p-2" *ngIf="statuShop" >
          <p *ngIf="!(cart?.length > 0)" style="font-weight: 700;">
            No hay productos en el carrito
          </p>
          <li style="cursor: pointer;" *ngFor="let carts of cart">
            <div class="item-content">
                <i (click)="removeFromCart(carts)" data-bs-toggle="tooltip" style="color: red;"title="Eliminar producto" class="fa fa-trash delete me-2"></i>
                <i (click)="decrementQuantity(carts)" data-bs-toggle="tooltip"style="color: red;" title="Descontar producto" class="fa fa-minus minus" *ngIf="carts.cantidad > 1"></i>
                <span class="item-name">{{ carts.name }}</span>
                <span class="item-price">${{ carts.precio }}</span>
                <span [class]="carts.cantidad > 0 ? 'badge bg-success rounded-circle' : 'badge bg-danger rounded-circle'">{{ carts.cantidad }}</span>
            </div>
          </li>
          <div *ngIf="cart?.length > 0">
            <button class="btn btn-success me-1" (click)="irAcomprar()">Ir a comprar</button>
            <button class="btn btn-danger" (click)="clearCart()"><i data-bs-toggle="tooltip" style="color: white;" title="Eliminar producto" class="fa fa-trash me-2"></i></button>
          </div>
        </ul>
      </div>

      <div class="text-end d-flex align-items-center">
        <img  *ngIf="(accountService.currentUser$ |async) as user" [src]="user.avatar" alt="Avatar Logo" style="width:40px;" class="rounded-pill me-3">
        <div class="dropdown dropend" *ngIf="(accountService.currentUser$ |async) as user">
          <strong  style="cursor: pointer;" class="dropdown-toggle" (click)="dropMenu()" data-bs-toggle="dropdown">
            Bienvenido {{user.username}}
          </strong>
          <ul class="dropdown-menu" *ngIf="status">
            <li style="cursor: pointer;">
              <i  (click)="accountService.logout()" class="fa fa-sign-out ms-3 me-3">  cerrar</i>
            </li>
          </ul>
        </div>
        <a  *ngIf="(accountService.currentUser$ |async) == null" routerLink="/account/login" class="">
          <button class="btn btn-success me-2" type="button">Iniciar</button>
        </a>
        <a  *ngIf="(accountService.currentUser$ |async) == null" routerLink="/account/register" class="">
          <button type="button" class="btn btn-warning text-light">Registrar</button>
        </a>
      </div>
    </div>
  </div>
</nav>




